/*.f8pr.fixed {}*/
	.f8pr.fixed > * { padding-left: var(--rpp); }
	.f8pr.fixed, .f8pr.fixed header {
		display: flex;
		align-items: center;
	}
	.f8pr.fixed header { 
		position: relative; z-index: 2; /*margin-right: auto;*/
		flex-grow: 3;
	}
		.f8pr.fixed header p, .f8pr.fixed header h1, .f8pr.fixed header h2, .f8pr.fixed header h3, .f8pr.fixed header h4, .f8pr.fixed header h5, .f8pr.fixed header h6 {  position: static; font-family: var(--main_ff); font-weight: var(--main_fw_strong); font-size: var(--main_fz); line-height: var(--main_lh_l); }
		.f8pr.fixed header a { display: block; color: inherit; text-decoration: none; }
			.f8pr.fixed header a:before { content: ""; display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 9; }
		[data-whatin="mouse"] .f8pr.fixed header a:hover { text-decoration: underline; }
	.f8pr.fixed div { flex-shrink: 0; }
	.f8pr.fixed figure { position: relative; top: 5px; width: 50px; max-height: 70px; margin: -10px var(--rpp) var(--main_mr) 0; padding: 0; }
		html[dir="rtl"] .f8pr.fixed figure { margin-right: 0; margin-left: var(--main_mr); }
		.f8pr.fixed figure[class*="orientation"] { max-height: none; padding: 0; }
			.f8pr.fixed figure.orientation-stripe { height: 31.25px; }
			.f8pr.fixed figure.orientation-landscape { height: 37.5px; }
			.f8pr.fixed figure.orientation-square { height: 50px; }
			.f8pr.fixed figure.orientation-portrait { height: 62.5px; }
		.f8pr.fixed figure img { width: auto !important; max-height: 70px !important; }
		.f8pr.fixed figure[class*="orientation"] img { width: 100% !important; object-fit: cover; object-position: center center; }
	.f8pr.fixed .link-btn { 
		margin-top: 0; margin-bottom: var(--main_mr); --dist_bb: 0;
		flex-wrap: nowrap;
	}
		.f8pr.fixed .link-btn button { min-width: min(20vw, 335px); }
	#content > .f8pr:not(.fixed) { display: none; }
	.f8pr.fixed .invalid-feedback { display: none; }
.f8pr.fixed, .shopify-section-footer { transition-property: transform, visibility, opacity; transition-duration: 0.4s; transition-timing-function: cubic-bezier(.4,0,.2,1); transition-delay: 0s; }
	.shopify-section-footer { transition-property: margin; }
	
.f8pr-fixed-active .f8pr.fixed { 
	visibility: visible; opacity: 1; 
	transform: none;
}
.f8pr-fixed-active .shopify-section-footer { margin-bottom: var(--f8pr_fixed_height); }
	
@media only screen and (max-width: 1000px) {
.f8pr.fixed figure { display: none; }
}
@media only screen and (max-width: 760px) {
.f8pr.fixed > div, .f8pr.fixed fieldset > div, .f8pr.fixed header { display: none; }
.f8pr.fixed, .f8pr.fixed fieldset { display: block; }
.f8pr.fixed .link-btn button { width: 100%; flex-grow: 3; }
}
@media only screen and (max-width: 360px) {
.f8pr.fixed .link-btn button { display: block; text-align: left; text-indent: -3000em; direction: ltr; }
#root .f8pr.fixed .link-btn button i { display: block; position: absolute; left: 0; right: 0; top: 50%; margin-top: -10px; font-size: var(--size_20_f); line-height: 20px; text-align: center; text-indent: 0; }
#root .f8pr.fixed .link-btn button i[class*="left"], #root .f8pr.fixed .link-btn button i[class*="right"] { font-size: var(--size_14_f); }
}